[flake8]
select = BLK,C,E,W,F,I,B,B9,S
ignore = E203,E501,W503
max-complexity = 10
max-line-length = 80
application-import-names = hypermodern_python_example, tests
import-order-style = google
per-file-ignores = tests/*:S101